In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")

In [2]:
monday = pd.read_csv('data/monday.csv', delimiter =';')
tuesday = pd.read_csv('data/tuesday.csv', delimiter =';' )
wednesday = pd.read_csv('data/wednesday.csv', delimiter =';')
thursday = pd.read_csv('data/thursday.csv', delimiter =';')
friday = pd.read_csv('data/friday.csv', delimiter =';')
df = pd.concat([monday, tuesday, wednesday, thursday, friday], axis = 0)

df['timestamp'] = pd.to_datetime(df['timestamp'])
df['day'] = df['timestamp'].dt.day

#conditions

values = [4, 3, 5, 6]

#df['revenue_per_minute'] = np.select(conditions, values)

# df["unq_id"] = 'Cust' + df["day"].astype(str) + df["customer_no"].astype(str)

df["unq_id"] = 'Cust' + df["day"].astype(str) + df["customer_no"].astype(str)

df = df[['timestamp', 'day', 'unq_id', 'customer_no', 'location']] # 'day',

#df['time'] = df['timestamp'].dt.time

#df = df[['timestamp', 'unq_id', 'customer_no', 'location']] # 'time', 'day',

df.head()

            timestamp  day  unq_id  customer_no location
0 2019-09-02 07:03:00    2  Cust21            1    dairy
1 2019-09-02 07:03:00    2  Cust22            2    dairy
2 2019-09-02 07:04:00    2  Cust23            3    dairy
3 2019-09-02 07:04:00    2  Cust24            4    dairy
4 2019-09-02 07:04:00    2  Cust25            5   spices

In [3]:
df = df.sort_values(['customer_no', 'timestamp'])
df = df.set_index('timestamp')
df.head()
# df.head(50)
# df.tail(20)
#df.tail(20)

                     day  unq_id  customer_no  location
timestamp
2019-09-02 07:03:00    2  Cust21            1     dairy
2019-09-02 07:05:00    2  Cust21            1  checkout
2019-09-03 07:02:00    3  Cust31            1     fruit
2019-09-03 07:05:00    3  Cust31            1    drinks
2019-09-03 07:12:00    3  Cust31            1  checkout

In [4]:
df['before'] = df['location'].shift(1)
df = df.groupby('unq_id').resample('1min').fillna('ffill')
#df['time'] = df['timestamp'].dt.time

In [5]:
df.tail(50)

                              day    unq_id  customer_no  location    before
unq_id   timestamp
Cust6992 2019-09-06 17:22:00    6  Cust6992          992     dairy  checkout
         2019-09-06 17:23:00    6  Cust6992          992    spices     dairy
         2019-09-06 17:24:00    6  Cust6992          992     fruit    spices
         2019-09-06 17:25:00    6  Cust6992          992     fruit    spices
         2019-09-06 17:26:00    6  Cust6992          992  checkout     fruit
Cust6993 2019-09-06 17:17:00    6  Cust6993          993     fruit  checkout
         2019-09-06 17:18:00    6  Cust6993          993  checkout     fruit
Cust6994 2019-09-06 17:17:00    6  Cust6994          994    spices  checkout
         2019-09-06 17:18:00    6  Cust6994          994     dairy    spices
         2019-09-06 17:19:00    6  Cust6994          994     fruit     dairy
         2019-09-06 17:20:00    6  Cust6994          994  checkout     fruit
Cust6995 2019-09-06 17:17:00    6  Cust6995          995    spices  checkout
         2019-09-06 17:18:00    6  Cust6995          995  checkout    spices
Cust6996 2019-09-06 17:17:00    6  Cust6996          996    spices  checkout
         2019-09-06 17:18:00    6  Cust6996          996    spices  checkout
         2019-09-06 17:19:00    6  Cust6996          996    spices  checkout
         2019-09-06 17:20:00    6  Cust6996          996    spices  checkout
         2019-09-06 17:21:00    6  Cust6996          996    spices  checkout
         2019-09-06 17:22:00    6  Cust6996          996     dairy    spices
         2019-09-06 17:23:00    6  Cust6996          996  checkout     dairy
Cust6997 2019-09-06 17:18:00    6  Cust6997          997     fruit  checkout
         2019-09-06 17:19:00    6  Cust6997          997     fruit  checkout
         2019-09-06 17:20:00    6  Cust6997          997     fruit  checkout
         2019-09-06 17:21:00    6  Cust6997          997     fruit  checkout
         2019-09-06 17:22:00    6  Cust6997          997     fruit  checkout
         2019-09-06 17:23:00    6  Cust6997          997     fruit  checkout
         2019-09-06 17:24:00    6  Cust6997          997     fruit  checkout
         2019-09-06 17:25:00    6  Cust6997          997    drinks     fruit
         2019-09-06 17:26:00    6  Cust6997          997    drinks     fruit
         2019-09-06 17:27:00    6  Cust6997          997    drinks     fruit
         2019-09-06 17:28:00    6  Cust6997          997    drinks     fruit
         2019-09-06 17:29:00    6  Cust6997          997    drinks     fruit
         2019-09-06 17:30:00    6  Cust6997          997    drinks     fruit
         2019-09-06 17:31:00    6  Cust6997          997  checkout    drinks
Cust6998 2019-09-06 17:18:00    6  Cust6998          998    drinks  checkout
         2019-09-06 17:19:00    6  Cust6998          998     fruit    drinks
         2019-09-06 17:20:00    6  Cust6998          998    drinks     fruit
         2019-09-06 17:21:00    6  Cust6998          998    drinks     fruit
         2019-09-06 17:22:00    6  Cust6998          998    drinks     fruit
         2019-09-06 17:23:00    6  Cust6998          998  checkout    drinks
Cust6999 2019-09-06 17:18:00    6  Cust6999          999     fruit  checkout
         2019-09-06 17:19:00    6  Cust6999          999     fruit  checkout
         2019-09-06 17:20:00    6  Cust6999          999    drinks     fruit
         2019-09-06 17:21:00    6  Cust6999          999     fruit    drinks
         2019-09-06 17:22:00    6  Cust6999          999     fruit    drinks
         2019-09-06 17:23:00    6  Cust6999          999     fruit    drinks
         2019-09-06 17:24:00    6  Cust6999          999    drinks     fruit
         2019-09-06 17:25:00    6  Cust6999          999     fruit    drinks
         2019-09-06 17:26:00    6  Cust6999          999     fruit    drinks
         2019-09-06 17:27:00    6  Cust6999          999  checkout     fruit

In [ ]:
# don't even have to?
#df = df.reset_index(level = 1)

In [ ]:
# don't need: 
#df['time'] = df['timestamp'].dt.time
#df['day'] = df['timestamp'].dt.day
#df.head()

In [6]:
trans_prob = round(pd.crosstab(df['location'], df['before'], normalize=0),3)
trans_prob

before    checkout  dairy  drinks  fruit  spices
location
checkout     0.000  0.246   0.283  0.344   0.127
dairy        0.453  0.000   0.007  0.272   0.268
drinks       0.291  0.271   0.001  0.177   0.260
fruit        0.554  0.172   0.162  0.000   0.112
spices       0.354  0.243   0.223  0.179   0.000

#### get probabilities for first location after entrance:

In [8]:
df

                              day    unq_id  customer_no  location    before
unq_id   timestamp
Cust21   2019-09-02 07:03:00    2    Cust21            1     dairy       NaN
         2019-09-02 07:04:00    2    Cust21            1     dairy       NaN
         2019-09-02 07:05:00    2    Cust21            1  checkout     dairy
Cust210  2019-09-02 07:06:00    2   Cust210           10     fruit  checkout
         2019-09-02 07:07:00    2   Cust210           10     fruit  checkout
...                           ...       ...          ...       ...       ...
Cust6999 2019-09-06 17:23:00    6  Cust6999          999     fruit    drinks
         2019-09-06 17:24:00    6  Cust6999          999    drinks     fruit
         2019-09-06 17:25:00    6  Cust6999          999     fruit    drinks
         2019-09-06 17:26:00    6  Cust6999          999     fruit    drinks
         2019-09-06 17:27:00    6  Cust6999          999  checkout     fruit

[53903 rows x 5 columns]

In [9]:
#reset index now to rename index to use it (because of duplication): 
df = df.reset_index(level = 1)

In [12]:
df_temp = df
df_temp.index.rename('customers', inplace=True)

In [13]:
df_temp

                    timestamp  day    unq_id  customer_no  location    before
customers
Cust21    2019-09-02 07:03:00    2    Cust21            1     dairy       NaN
Cust21    2019-09-02 07:04:00    2    Cust21            1     dairy       NaN
Cust21    2019-09-02 07:05:00    2    Cust21            1  checkout     dairy
Cust210   2019-09-02 07:06:00    2   Cust210           10     fruit  checkout
Cust210   2019-09-02 07:07:00    2   Cust210           10     fruit  checkout
...                       ...  ...       ...          ...       ...       ...
Cust6999  2019-09-06 17:23:00    6  Cust6999          999     fruit    drinks
Cust6999  2019-09-06 17:24:00    6  Cust6999          999    drinks     fruit
Cust6999  2019-09-06 17:25:00    6  Cust6999          999     fruit    drinks
Cust6999  2019-09-06 17:26:00    6  Cust6999          999     fruit    drinks
Cust6999  2019-09-06 17:27:00    6  Cust6999          999  checkout     fruit

[53903 rows x 6 columns]

In [14]:
# write first location for each customer to list
first_locations = df_temp.groupby('unq_id').location.first().to_list()

In [15]:
# create dataframe out of list 
df_firsts = pd.DataFrame(first_locations)

In [16]:
# get value counts in percentage == probabilty for next after entrance to dictionary
entrance_p ={}
for idx, loc in enumerate (df_firsts[0].value_counts(normalize=True).index.to_list()): 
    
    entrance_p[loc] = (df_firsts[0].value_counts(normalize=True)[idx]).round(3)

In [17]:
entrance_p['location'] = 'entrance'

In [18]:
entrance_p

{'fruit': 0.377,
 'dairy': 0.288,
 'spices': 0.181,
 'drinks': 0.154,
 'location': 'entrance'}

In [19]:
# add entrance_p to table: 
trans_prob_2 = trans_prob.reset_index().append(entrance_p, ignore_index=True)

In [23]:
trans_prob_2 = trans_prob_2.set_index('location') #.reset_index('location')

          checkout  dairy  drinks  fruit  spices
location
checkout     0.000  0.246   0.283  0.344   0.127
dairy        0.453  0.000   0.007  0.272   0.268
drinks       0.291  0.271   0.001  0.177   0.260
fruit        0.554  0.172   0.162  0.000   0.112
spices       0.354  0.243   0.223  0.179   0.000
entrance       NaN  0.288   0.154  0.377   0.181

In [24]:
trans_prob_2.to_csv('trans_prob_2.csv', index=True)